.container {
  display: grid;

  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";

  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-color: #105aa0;
  padding: 15px 20px;

  div {
    &:first-child {
      width: 300px;
    }

    h2 {
      font-weight: 400;
      font-size: 1.5rem;
    }

    span {
      margin-left: 10px;
    }
  }
}

nav {
  grid-area: nav;
  background-color: #fff;
  width: 300px;
}

main {
  grid-area: content;
  padding: 0;

  #content {
    background-color: #f0f4f7;
    // width: 100%;
    padding: 20px;
  }
}

footer {
  grid-area: footer;
  padding: 10px 24px;
  background-color: #333333;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-weight: 500;
  line-height: 1.7rem;
}

button {
  color: #fff;
  background-color: #1171c8;
  border-radius: 4px;
  border: 0;
  padding: 10px 18px;
  font-size: 0.94rem;
  height: 40px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #105aa0;
  }
}

.tiny {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.45rem;
}

.link {
  color: #105aa0;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-left: 20px;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;

    .circle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 20px;
      width: 20px;
      border: 2px solid #ddd;
      border-radius: 50%;
      margin-right: 6px;
    }

    .nav-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start
    }
  }
}

.sign-in {
  background-color: #f2f2f2;
  padding: 5px 24px;
}

.service, .location {
  &-container {
    width: 100%;
    // background-color: #fff;
    margin-right: 20px;
  }

  &-description {
    font-size: 1rem;
    font-weight: 400;
  }
}

.row {
  display: flex;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
