<footer>
  <div class='group'>
    <div class='column'>
      <div>
        <div class='subtitle practice-name'>Johnny Appleseed</div>
        <!---->
        <div class='city no-wrap'>Port Alyssonbury, NV</div>
        <!---->
      </div>
    </div>
    <div class='column'>
      <div>
        <div class='subtitle'>Main Location</div>
        <div>
          <span>Elise Drive</span>
          <br />
          <span>Port Alyssonbury,</span>
          <span>NV</span>
          <span>51859</span>

        </div>
      </div>
    </div>
  </div>
  <div class='group'>
    <div class='column column-40'>
      <div>
        <div class='subtitle'>Social Media</div>
        <ul class='social-list'>
          <li>
            <a
              rel='noreferrer noopener'
              target='_blank'
              id='ember64'
              class='social-media-link ember-view'
              href='https://www.facebook.com/ralph.zimmermann'
            ><span class='visually-hidden'>Follow Us on Facebook </span>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                fill='#fff'
                viewBox='0 0 1365.333 1365.333'
                class='icon icon-facebook'
              ><path
                  d='M1365.333 682.667C1365.333 305.64 1059.693 0 682.667 0S0 305.64 0 682.667c0 340.738 249.641 623.16 576 674.373V880H402.667V682.667H576v-150.4c0-171.094 101.917-265.6 257.853-265.6 74.69 0 152.814 13.333 152.814 13.333v168h-86.083c-84.804 0-111.25 52.623-111.25 106.61v128.057h189.333L948.4 880H789.333v477.04c326.359-51.213 576-333.635 576-674.373'
                ></path></svg>
            </a>
          </li>
          <li>
            <a
              rel='noreferrer noopener'
              target='_blank'
              id='ember66'
              class='social-media-link ember-view'
              href='http://twitter.com/zimmermann'
            ><span class='visually-hidden'>Follow Us on Twitter </span>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                fill='#FFF'
                viewBox='0 0 24 20'
                class='icon icon-twitter'
              ><path
                  d='M24 2.309a9.83 9.83 0 01-2.828.775A4.932 4.932 0 0023.337.36a9.864 9.864 0 01-3.127 1.195A4.916 4.916 0 0016.616 0c-3.179 0-5.515 2.966-4.797 6.045A13.978 13.978 0 011.671.901a4.93 4.93 0 001.523 6.574 4.903 4.903 0 01-2.229-.616c-.054 2.281 1.581 4.415 3.949 4.89a4.935 4.935 0 01-2.224.084 4.928 4.928 0 004.6 3.419A9.9 9.9 0 010 17.292a13.94 13.94 0 007.548 2.212c9.142 0 14.307-7.721 13.995-14.646A10.025 10.025 0 0024 2.309z'
                ></path></svg>
            </a>
          </li>
          <li>
            <a
              rel='noreferrer noopener'
              target='_blank'
              id='ember68'
              class='social-media-link ember-view'
              href='https://www.linkedin.com/in/zimmermannralph/'
            ><span class='visually-hidden'>Follow Us on LinkedIn </span>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='26'
                height='26'
                fill='#fff'
                viewBox='0 0 26 26'
                class='icon icon-linkedin'
              ><path
                  d='M0 3.4a3.41 3.41 0 116.82.01 3.41 3.41 0 01-6.82 0zm14.86 6.92a5.9 5.9 0 014.64-2.27c2.39 0 4.04.65 5.08 1.86C25.6 11.12 26 12.83 26 14.86v10.83c0 .16-.15.31-.3.31h-5.27a.32.32 0 01-.31-.3v-9.3c0-.84-.26-1.64-.67-2.2-.4-.57-.93-.89-1.5-.89h-.62c-.56 0-1.1.32-1.5.89-.4.56-.66 1.36-.66 2.2v9.3c0 .15-.15.3-.31.3H9.6a.32.32 0 01-.31-.3V8.66h5.57v1.65zM.62 8.98c0-.15.1-.29.25-.31h5.32c.16 0 .31.14.31.3V25.7c0 .16-.15.31-.31.31H.93a.32.32 0 01-.31-.3V8.97z'
                ></path></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class='column column-60'>
      <div>
        <div class='subtitle sp'>
          Powered By
          <span class='no-wrap sp'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='20'
              height='15'
              viewBox='0 0 20 15'
              class='icon icon-sp-logo'
              role='presentation'
            ><path
                fill-rule='evenodd'
                d='M1.149 1.689C1.45.697 2.89-1.398 6.744 1.4c2.636 1.631 4.09 4.5 4.368 5.086.434.916.599 2.574-.11 4.144-.708 1.57-3.22 4.41-5.669 3.667a3.41 3.41 0 01-.196-.067h-.003l-.006-.003-.003-.001-.003-.001-.012-.005c-.937-.332-1.997-1.078-1.965-1.966.043-1.195 2.33-2.366 2.33-2.366l.05-.027c.16-.09.188-.17.2-.204.038-.107.014-.25-.158-.27l-.113-.008a13.148 13.148 0 01-.396-.03C2.443 9.153-.564 8.338.091 5.56c.413-1.75.59-2.33 1.05-3.847l.008-.025zm15.063.337c.935-.922 1.776-1.48 2.184-1.346 1.047.34.984 2.088.108 4.431-.696 1.863-2.722 3.521-3.274 3.842a.17.17 0 00-.081.091c-.052.159.09.23.274.32.348.173.84.417.405 1.473-.69 1.678-2.187 2.643-3.352 2.273-.57-.181-.724-.919-.682-1.81.007-.15.03-.351.064-.583.052-.363.124-.724.21-1.08l.075-.308.138-.535c.584-2.148 1.996-4.86 3.93-6.768z'
                clip-rule='evenodd'
              ></path></svg>
            <a
              href='https://simplepractice.com'
              rel='noopener noreferrer'
              target='_blank'
            >
              SimplePractice
            </a>
          </span>
        </div>
        <div>
          Read the SimplePractice
          <a
            href='https://www.simplepractice.com/privacy'
            class='underline'
            target='_blank'
            rel='noopener noreferrer'
          >
            Privacy Policy</a>.
        </div>
      </div>
    </div>
  </div>
</footer>