<div class='row'>
  <div class='location-detail'>
    <div class="location-map">[show Google Maps here]</div>
    <div class='service-description'>{{@office.name}}</div>
    <div>[show address here]</div>
    <div class='tiny'>{{@office.phone}}</div>
    <button type='button' {{on 'click' (fn this.handleClick @office.id)}}>
      {{this.text}}
    </button>
  </div>
</div>