<div class="service-container">
  {{!-- {{yield}} --}}
  <div class="row-heading">
    <span class="tiny">Request an appointment</span>
    <h3>Select Service</h3>
  </div>
  {{#each list as |item|}}
    <div class="row">
      <div class="service-dettail">
        <div class="service-description">{item.description}</div>
        <div class="tiny">{item.duration} minutes</div>
      </div>
      <div class="service-select">
        <button type="button">Select</button>
      </div>
    </div>
  {{/each}}
  <div class="row">
    <div class="service-dettail">
      <div class="service-description">Psychiatric Diagnostic Evaluation</div>
      <div class="tiny">50 minutes</div>
    </div>
    <div class="service-select">
      <button type="button">Select</button>
    </div>
  </div>
  <div class="row">
    <div class="service-dettail">
      <div class="service-description">Intro Call</div>
      <div class="tiny">15 minutes</div>
    </div>
    <div class="service-select">
      <button type="button">Select</button>
    </div>
  </div>
</div>