<div class="service-container">
  <h2>Available Services</h2>
  {{#each @model as |service|}}
    <div class="row">
      <div class="service-detail">
        <div class="service-description">{{service.description}}</div>
        <div class="tiny">{{service.duration}} minutes</div>
      </div>
      <div class="service-select">
        <button type="button" onclick={{action 'showLocations'}}>Select</button>
      </div>
    </div>
  {{/each}}
</div>