<div class='row'>
  <div class='service-detail'>
    <div class='service-description'>{{@service.description}}</div>
    <div class='tiny'>{{@service.duration}} minutes</div>
  </div>
  <div class='service-select'>
    <button type='button' {{on 'click' (fn this.handleClick @service.id)}}>
      {{this.text}}
    </button>
  </div>
</div>