<div class="service-container">
  {{yield}}
  <div class="row">
    <span class="tiny">Request an appointment</span>
    <h3>Select Service</h3>
  </div>
  <div class="row">
    <div class="service-dettail">
      <div class="service-description">Psychiatric Diagnostic Evaluation</div>
      <span class="tiny">50 miinutes</span>
    </div>
    <div class="service-select">
      <button type="button">Select</button>
    </div>
  </div>
  <div class="row">
    <div class="service-dettail">
      <div class="service-description">Intro Call</div>
      <span class="tiny">15 minutes</span>
    </div>
    <div class="service-select">
      <button type="button">Select</button>
    </div>
  </div>
</div>