{{page-title "Service"}}
test
{{!-- <Services /> --}}
{{!-- {{#each model as |item|}}
    {item}
    <div class="row">
      <div class="service-dettail">
        <div class="service-description">{item.description}</div>
        <div class="tiny">{item.duration} minutes</div>
      </div>
      <div class="service-select">
        <button type="button">Select</button>
      </div>
    </div>
{{/each}} --}}
