{{page-title "Locations"}}
<h2>Available Offices</h2>
<div class="location-container">
  {{#each @model as |office|}}
    <Location @office={{office}} @address={{office.address}} />
  {{/each}}
</div>