{{page-title "Locations"}}
<div class="location-container">
  <h2>Available Offices</h2>
  {{#each @model as |office|}}
    {{!-- <Service @service={{service}} @transitionRoute={{(array 'locations' service.id)}} /> --}}
    <Location @office={{office}} />
  {{/each}}
</div>