{{page-title "Services"}}
<div class="service-container">
  <h2>Available Services</h2>
  {{#each @model as |service|}}
    {{!-- <Service @service={{service}} @id={{service.id}} /> --}}
    <Service @service={{service}} />
  {{/each}}
</div>
