{{page-title "Services"}}
<h2>Available Services</h2>
<div class="service-container">
  {{#each @model as |service|}}
    <Service @service={{service}} @cid={{this.cid}} @controller={{this}} />
  {{/each}}
</div>
